body {
  background-color: #111;
}

.running {
  background-color: #ff1b6b;
  color: #45caff !important;
}

.sidebar {
  height: 100%;
  width: 80px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0);
  overflow-x: hidden;
  padding-top: 60px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sidebar:hover {
  background: rgba(255, 255, 255, 0.1);
}

.sidebar:hover button {
  color: #45caff;
}

.sidebar button {
  padding: 10px 0;
  text-decoration: none;
  font-size: 25px;
  color: #084861;
  display: block;
  width: 100%;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  white-space: nowrap;
  border: none;
  background-color: rgba(255, 27, 107, 0);
}

.sidebar button span {
  margin-left: -5px;
  display: none;
  -webkit-transition: display 0.5s;
  transition: display 0.5s;
}

.sidebar button:hover {
  background-color: #ff1b6b;
}

.sidebar button:focus {
  background-color: #ff1b6b;
  color: #45caff;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.sidebar .togglebtn {
  position: absolute;
  top: 10px;
  left: -30px;
  display: block;
  font-size: 36px;
  text-decoration: none;
  text-align: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-left: 50px;
  color: #45caff;
}

.sidebar .togglebtn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

ul li {
  list-style: none;
  font-size: 18px;
  color: #45caff;
  padding: 10px 0;
  margin-left: -20px;
}

.info {
  display: inline-block;
  width: 20px;
  height: 20px;
}

#red {
  background-color: red;
}

#yellow {
  background-color: #FEEE00;
}

#blue {
  background-color: #59f0ff;
}

#green {
  background-color: #49E303;
}

#pink {
  background-color: #FF1493;
}

#orange {
  background-color: #ff3503;
}

#QList, #MList, #HList {
  display: none;
  padding-bottom: 50px;
}

#main {
  display: -ms-grid;
  display: grid;
  place-content: center;
  height: 97vh;
}

.panel {
  position: absolute;
  top: 50%;
  right: 5px;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  width: 80px;
  height: 100%;
  color: black;
  font-size: large;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  place-items: center;
}

.pause, .play, input {
  position: absolute;
  color: white;
  cursor: pointer;
}

.pause {
  top: 10%;
}

.play {
  top: 15%;
}

input {
  width: 100%;
  top: 25%;
  color: #111;
}

input::-webkit-input-placeholder {
  color: white;
}

input:-ms-input-placeholder {
  color: white;
}

input::-ms-input-placeholder {
  color: white;
}

input::placeholder {
  color: white;
}

input:focus {
  width: 500%;
  right: 30%;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}

input:focus::-webkit-input-placeholder {
  text-align: center;
  color: #5e5e5e;
  font-size: .7em;
}

input:focus:-ms-input-placeholder {
  text-align: center;
  color: #5e5e5e;
  font-size: .7em;
}

input:focus::-ms-input-placeholder {
  text-align: center;
  color: #5e5e5e;
  font-size: .7em;
}

input:focus::placeholder {
  text-align: center;
  color: #5e5e5e;
  font-size: .7em;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
/*# sourceMappingURL=main.css.map */
