@mixin center {    
    display: grid;
    place-content: center;
}

body{  
  background-color: #111;
}

.running{
  background-color: rgb(255,27,107);
  color: rgba(69,202,255,1) !important;
}


.sidebar {
    height: 100%;
    width: 80px; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    background:  rgba(255,255,255,0) ;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    &:hover{
      background:  rgba(255,255,255,.1) ;
      & button{
      color: rgba(69,202,255,1);
      }
    }
    
  }
  
  .sidebar button {
    padding: 10px 0;
    text-decoration: none;
    font-size: 25px;
    color: rgb(8, 72, 97);
    display: block;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    white-space: nowrap;
    border: none;
    background-color: rgba(255,27,107,0);
    & span{
      margin-left: -5px;
      display: none;
      transition: display 0.5s;
      // color:rgba(255,255,255,0);
    }
    &:hover {
      background-color: rgba(255,27,107,1);
    }
    &:focus{
      background-color: rgba(255,27,107,1);
      color: rgba(69,202,255,1);
  box-shadow: none !important;
      // & ul li{
      //   display: block !important;
      // }
    }
  }
  
  
  .sidebar .togglebtn {
    position: absolute;
    top: 10px;
    left: -30px;
    display: block;
    font-size: 36px;
    text-decoration: none;
    text-align: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 50px;
    color: rgba(69,202,255,1);
    &:hover{
      background-color: rgba(255,255,255,.1)
    }
  }
  

  ul li{
    // display: none;
    list-style: none;
    font-size: 18px;
    color: rgba(69,202,255,1);
    padding: 10px 0;
    margin-left: -20px;
  }
  
  .info{
    display:inline-block;
    width: 20px; height: 20px;
  }
  #red{
    background-color: red;
  }
  #yellow{
    background-color: #FEEE00;
  }
  #blue{
    background-color: #59f0ff;
  }
  #green{
    background-color: #49E303;
  }
  #pink{
    background-color: #FF1493;
  }
  #orange{
    background-color: #ff3503;
  }
  #QList,#MList,#HList{
    display: none
  }

  #main {
        @include center();
    height: 97vh;
    // canvas{
        
    // }
  }

  .panel{
    position: absolute;
    top: 50%; right: 5px;
    transform: translate(0%,-50%);
    width: 80px;
    height: 100%;
    color: black;
    font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    place-items: center;
  }
  
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
